/* Welcome Screen */
.welcome-screen {
  position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
  display: flex; align-items: center; justify-content: center;
  z-index: 2;
  background: var(--splash-bg);
  transition: transform 0.5s ease-in-out;
}
.welcome-screen.hidden { transform: translateY(-100%); }

.hello-text {
  font-size: 3rem;
  color: var(--text-color);
  z-index: 3;
}

@media (max-width: 600px) {
  .hello-text {
    font-size: 2.5rem;
    color: var(--text-color);
    z-index: 3;
  }
}