/* Follower Dot (Cursor Effect) */
.follower-container {
  opacity: 0; transition: opacity var(--transition-duration) ease-in;
  z-index: 2147483647; pointer-events: none; position: relative;
}
.follower-container.visible { opacity: 1; }
.cursor-follower {
  position: fixed; top: 0; left: 0;
  width: 30px; height: 30px; border-radius: 50%;
  background: var(--text-color); opacity: 1;
  pointer-events: none; mix-blend-mode: difference;
  transition: background-color 0.3s;
  z-index: 2147483647; will-change: transform;
}
